
.idea/*

Plugins/AssetDumper/*
Plugins/AssetGenerator/*

Plugins/AutoSettings/Binaries/*
Plugins/AutoSettings/Intermediate/*

Plugins/DLSS/Binaries/*
Plugins/DLSS/Intermediate/*

Plugins/EasyFileSystem/Binaries/*
Plugins/EasyFileSystem/Intermediate/*

Plugins/EasyMultiSave/Binaries/*
Plugins/EasyMultiSave/Intermediate/*

Plugins/EnginePlugins/Marketplace/Substance/Binaries/*
Plugins/EnginePlugins/Marketplace/Substance/Intermediate/*

Plugins/LowEntryFileManager/Binaries/*
Plugins/LowEntryFileManager/Intermediate/*

Plugins/PakLoaderPlugin/Binaries/*
Plugins/PakLoaderPlugin/Intermediate/*

Plugins/SteamCore/Binaries/*
Plugins/SteamCore/Intermediate/*

Plugins/VoxelPro/Binaries/*
Plugins/VoxelPro/Intermediate/*